DB_USERNAME={your.username}
DB_PASSWORD={your.password}
TWILIO_ACCOUNT_SID={your.twillio.account.sid}
TWILIO_AUTH_TOKEN={your.twilio.auth.token}
TWILIO_PHONE_NUMBER={your.twilio.phone.number}
MAIL_USERNAME={your.twilio.mail.username}
MAIL_PASSWORD={your.twilio.mail.password}